name: Behave Tests

on:
  push:
    branches: ["main"]

jobs:
  behave-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Run Behave Test Suite 1
        run: |
          behave test_suite_1 --no-capture

      - name: Run Behave Test Suite 2
        run: |
          behave test_suite_2 --no-capture
